body {
	background-color: black;
}

#canvas {
	width: 256px;
	height: 224px;
	position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

@media (min-width: 512px) {
	canvas {
	    -webkit-transform: scale(2);
	    -moz-transform: scale(2);
	    -ms-transform: scale(2);
	    transform: scale(2);
	}
}

@media (min-width: 768px) {
	canvas {
	    -webkit-transform: scale(3);
	    -moz-transform: scale(3);
	    -ms-transform: scale(3);
	    transform: scale(3);
	}
}

@media (min-width: 1024px) {
	canvas {
	    -webkit-transform: scale(4);
	    -moz-transform: scale(4);
	    -ms-transform: scale(4);
	    transform: scale(4);
	}
}
